<h1>Feed</h1>

  <% @posts.each do |post| %>
  <div class="d-flex align-items-baseline">
    <h2>
      <%= post.title %>
    </h2>
    <% if user_signed_in? %>
      <p class="text-secondary ml-2"> by <%= post.user.name %></p>
    <% end %>
    
    </div>
    <div>
    <p>
      <%= post.body %>
    </p>
  </div>
  <% end %>

<% if user_signed_in? %>
  <%= render 'home' %>
<% end %>