<h1>Feed</h1>

  <% @posts.each do |post| %>
  <div>
    <h2>
      <%= post.title %>
    </h2>
    <p>
      <%= post.body %>
    </p>
  </div>
  <% end %>

<% if user_signed_in? %>
  <%= render 'home' %>
<% end %>